.l-canvas, .l-footer, .l-popup-box-content, .w-ibanner, .w-filter.state_mobile .w-filter-list, .w-filter.state_desktop[class*="style_drop_"] .w-filter-item-values, .w-iconbox.color_light.style_circle .w-iconbox-icon, .w-tabs.style_timeline .w-tabs-item, .w-tabs.style_timeline .w-tabs-section-header-h, .leaflet-popup-content-wrapper, .leaflet-popup-tip, .w-cart-dropdown, .woocommerce .comment-respond, .select2-dropdown, .has-content-text-color {
    color: #000000;
}
.has-content-bg-background-color, body.us_iframe, .l-preloader, .l-canvas, .l-footer, .l-popup-box-content, .l-cookie, .g-filters.style_1 .g-filters-item.active, .w-filter.state_mobile .w-filter-list, .w-filter.state_desktop[class*="style_drop_"] .w-filter-item-values, .w-pricing-item-h, .w-tabs.style_default .w-tabs-item.active, .no-touch .w-tabs.style_default .w-tabs-item.active:hover, .w-tabs.style_modern .w-tabs-item:after, .w-tabs.style_timeline .w-tabs-item, .w-tabs.style_timeline .w-tabs-section-header-h, .leaflet-popup-content-wrapper, .leaflet-popup-tip, .w-cart-dropdown, .woocommerce-tabs .tabs li.active, .no-touch .woocommerce-tabs .tabs li.active:hover, .woocommerce .comment-respond, .woocommerce .shipping-calculator-form, .woocommerce #payment .payment_box, .select2-dropdown, .wpml-ls-statics-footer {
    background: #ffffff;
}
@media (max-width: 1023px)
.l-canvas {
    overflow: hidden;
}
.l-canvas {
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    -webkit-tap-highlight-color: rgba(112,175,80,0.2);
}
:root {
    --jp-carousel-primary-color: #fff;
    --jp-carousel-primary-subtle-color: #999;
    --jp-carousel-bg-color: #000;
    --jp-carousel-bg-faded-color: #222;
    --jp-carousel-border-color: #3a3a3a;
}
:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}
@media (max-width: 767px)
html {
    font-size: 16px;
    line-height: 24px;
}
html, .l-header .widget, .menu-item-object-us_page_block {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}